@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EAEBD0;
}

.Title {
    text-align: center;
    padding: 2rem;
    margin-bottom: 4.7rem;
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: xx-large;
}

#rockImg,
#paperImg,
#scissorsImg {
    height: 13.5rem;
    background-color: transparent;
    mix-blend-mode: darken;
    border: solid black 2px;
    padding: 1.5rem;
    border-radius: 50%;
    max-width: 90%;
}

.rpcTitle {
    text-align: center;
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
}

.results .pickOne{
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    padding: 1.5rem;
    border: solid black 2px;
    border-radius: 60px;

}

.imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



.results {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.results div {
    font-size: xx-large;
    font-weight: 600;
}

.YourPick,
.ComputersPick {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

@media (max-width: 748px){

    .imagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

    #rockImg,
    #paperImg,
    #scissorsImg {
    height: 8rem;
    mix-blend-mode: darken;
    border: solid black 2px;
    border-radius: 50%;
    max-width: 80%;
}

.YourPick,
.ComputersPick {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
}

@media (max-width: 450px){

        .imagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
    #rockImg,
    #paperImg,
    #scissorsImg {
    height: 6rem;
    mix-blend-mode: darken;
    border: solid black 2px;
    border-radius: 50%;
    max-width: 80%;
}

.YourPick,
.ComputersPick {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.results .pickOne{
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: medium;
    height: rem;
    margin-top: 0rem;
    border: solid black 2px;
    border-radius: 60px;

}
}